apiVersion: v1
kind: Secret
metadata:
  name: banking-secrets
  namespace: {{ k8s_namespace }}
type: Opaque
stringData:
  POSTGRES_PASSWORD: {{ vault_secret_values.POSTGRES_PASSWORD | quote }}
  DB_PASSWORD: {{ vault_secret_values.DB_PASSWORD | quote }}
  JWT_SECRET_KEY: {{ vault_secret_values.JWT_SECRET_KEY | quote }}
  VAULT_TOKEN: {{ vault_secret_values.VAULT_TOKEN | quote }}
  SMTP_USER: {{ vault_secret_values.SMTP_USER | quote }}
  SMTP_PASSWORD: {{ vault_secret_values.SMTP_PASSWORD | quote }}
